@page
@model QuiPayRazor.Pages.Payments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].PaymentState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].FromAccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].ToAccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].WhenOffered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].WhenAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].WhenDeclined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].RefundPaymentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Payment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromAccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToAccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenOffered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenDeclined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefundPaymentId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
